/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        type_this: type_this {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DLLR &kp T &kp H &kp I &kp S>;
            label = "TYPE_THIS";
        };

        type_arrow: type_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "TYPE_ARROW";
        };

        type_fat_arrow: type_fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "TYPE_FAT_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp TILDE  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                  &kp N6     &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp F     &kp P     &kp G                                   &kp J      &kp L     &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp UNDER  &kp A   &kp R   &kp S     &lt 1 T   &kp D                                   &kp H      &lt 1 N   &kp E      &kp I    &kp O     &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B      &kp ESCAPE    &kp BACKSPACE  &kp K      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LGUI  &kp LCTRL  &kp SPACE     &kp RET        &kp RCTRL  &kp BSPC  &kp RGUI
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans              &trans          &trans          &trans           &trans                                 &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE  &kp N1              &kp N2          &kp UP          &kp N4           &kp N5                                 &kp N6       &kp N7     &kp N8     &kp N9    &kp N0     &trans
&kp F1     &kp LA(LEFT_ARROW)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LA(RIGHT_ARROW)                    &type_this   &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&none      &none               &kp F9          &kp F10         &kp F11          &kp F12              &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                                               &trans          &trans           &trans               &trans    &trans  &trans       &trans     &trans
            >;
        };
    };
};
