/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        type_this: type_this {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DLLR &kp T &kp H &kp I &kp S>;
            label = "TYPE_THIS";
        };

        type_arrow: type_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "TYPE_ARROW";
        };

        type_fat_arrow: type_fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "TYPE_FAT_ARROW";
        };

        elixir_arrow: elixir_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp GT>;
            label = "ELIXIR_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp TILDE  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                  &kp N6     &kp N7               &kp N8         &kp N9   &kp N0    &kp EQUAL
&kp TAB    &kp Q   &kp W   &kp F     &kp P     &kp G                                   &kp J      &kp L                &kp U          &kp Y    &kp SEMI  &kp MINUS
&kp UNDER  &kp A   &kp R   &kp S     &lt 1 T   &kp D                                   &kp H      &lt 2 N              &kp E          &kp I    &kp O     &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B      &kp ESCAPE    &kp BACKSPACE  &kp K      &kp M                &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LGUI  &kp LCTRL  &kp ENTER     &kp SPACE      &kp RCTRL  &mt RIGHT_GUI GRAVE  &kp RIGHT_ALT
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans       &trans           &trans                &trans                 &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &type_this   &type_fat_arrow  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON      &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &type_arrow  &trans           &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE       &kp DOUBLE_QUOTES
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp DOLLAR   &elixir_arrow    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans       &trans           &trans
            >;
        };

        layer_2 {
            bindings = <
&soft_off    &trans        &trans    &trans          &trans     &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&kp LG(TAB)  &trans        &trans    &kp UP_ARROW    &trans     &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans       &kp LA(LEFT)  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp LA(RIGHT)                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans        &trans    &trans          &trans     &trans         &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                     &trans          &trans     &trans         &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
